# --- Terraform ---
terraform.tfstate.backup
terraform.lock.hcl
terraform.tfstate
.terraform

# --- Vscode ---
.vscode/

# --- Ansible ---
Ansible/playbooks/vars/
*secret*.yml
vault.yml

# --- Docker ---
.env

# --- Checkov ---
.checkov.baseline
checkov_results.txt