# --- Terraform ---
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate
.terraform
.terraform.tfstate.lock.info
*.tfvars


# --- Vscode ---
.vscode/

# --- Ansible ---
Ansible/playbooks/vars/
*secret*.yml
vault.yml
.ansible/

# --- Docker ---
.env

# --- Checkov ---
.checkov.baseline
checkov_results.txt


# ---keys ---
*.pem
*.key
id_rsa
id_ed25519